# Assignment - 1

In [138]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

### Importing the dataset

NameError: name 'replace_missing' is not defined

## Exploratory Data Analysis

We will perform all different types of analysis on data which include:
1. Doing bar plots and histograms based on the type of attribute.
2. Counting the categories in each dataset.
3. Looking at the missing values and imputing them with values that seem fit.
4. Making assumptions for calculating the proximity measures on these attributes.

## Data Visualization

a. Instead of plotting the graphs independently for each variale, we will plot the graphs all in a single figure.
b. We will plot barplots and histograms based on the type of data.

In [4]:
# df.boxplot("education_cat", by = "class")

* People with highest education tend to receive salary more than 50K.

In [5]:
# df.boxplot("education_cat", by = "gender")

* While there is equal spread in between education grade in Females, the highest education i.e. Doctorate.

In [6]:
# df.boxplot("hour_per_week", by = "class")

* Hours per week surely has an important role in predicting the salary. i.e. below or above 50K.

In [7]:
# df.boxplot("age", by = "class")

* Although there is not much information available from this plot, it seems people get pay above 50k only after a certain age.

In [8]:
# import math
# fig = plt.figure(figsize=(20,15))  #Creating a new figure with the mentioned figure size
# cols = 4         # No of columns to display the charts
# rows = 4         # No of rows to display the charts. These numbers are chosen as we have 16 attributes
#                  # Alternatively, *rows = math.ceil(float(df.shape[1]) / cols)* 
#                  # can be used when there are indefinete number of attributes.

# for i, column in enumerate(df.columns):
#     ax = fig.add_subplot(rows, cols, i+1)      #Adds a subplot in the i+1 th position
#     ax.set_title(column)
#     if df.dtypes[column] == np.object:         #For categorical attributes.
#         df[column].value_counts().plot(kind="bar", axes=ax)
#     else:
#         df[column].hist(axes=ax)               #For conitnous attributes
#         plt.xticks(rotation="vertical")

# plt.subplots_adjust(hspace=1.2, wspace=0.2)    # To adjust the plots and their labels

## Exploring the Data:
These charts give information about all the attributes.
1.  Beginning with the first plot, number of people working in a particular age group is decreasing.
2.  In the workclass graph, we can see a value marked with "?" in the workclass graph. This might be a missing value. Many of       the workclass records are Private.
3.  In the education plot, we can see that many people have their highest education as HS-grad.
4.  In education_cat, "9" is the most frequent record which seems same as the frequency of HS-grad in education. Seems like         education_cat is just a numeric to the education. We can confirm it with value_counts function.
5.  Marital_status and relationship seem to be related as Married implies the person is a husband or wife. Never married relates     to unmarried.
6.  There seems to be missing values in occupation marked with "?". And their frequency is somewhat similar to the missing           values in workclass. They might be missing values of the same record. We can validate this.
7.  In the race category, majority of the observations are whites.
8.  There are around 340 Males which constitute 65% of the data.
9.  There are a lot of zeroes in the attributes capital_gain and capital_loss.
10. From the hour_per_week graph, it seems there are a lot of observations in the bin 30-40. While calculating the similarities, 
    we can treat hour_per_week as coninuous or we can categorize it by implying 0-20 as part time, 20-40 as full time and rest       as over time.
11. From the native_country, most frequent outcome is United-States and there are missing values which are represented as "?".       In addition to that, we can also infer that whites belong to United-States.

In [9]:
# df["education"].value_counts()

In [10]:
# df["education_cat"].value_counts()

* We can confirm that they both are the same and drop the education attribute.

In [11]:
# df.drop("education", axis = 1, inplace = True)

In [12]:
# To check the number of categories
# df["marital_status"].value_counts()

In [13]:
# df["relationship"].value_counts()

* As you can see the sum of wife and husban is almost equal to Married-civ-spouse. We can say that these two variables are somewhat related.

In [14]:
# df["gender"].value_counts()

* Majority of the observations are male.

In [15]:
# df["race"].value_counts()

## Missing Values:

* Exploring further into the attributes workclass, occupation and native_country

In [16]:
# Exploring the missing values in workclass
# df["workclass"].value_counts()

* As we can see there are 28 missing values.
* Now, exploring the missing values in occupation.

In [17]:
# df["occupation"].value_counts()

* In this attribute, there are again 28 records missing. Probably the missing values are inside the same records. We can simply check this by accessing those records.

In [18]:
# df[df["occupation"]==" ?"].index == df[df["workclass"] == " ?"].index

* As you can see missing values in both the attributes belong to the same records. Maybe this implies it is a an occupation which could not be enclosed or they might be unemployed. So we will just replace the values with a seperate category. We can give workclass as "X"(No proper meaning, only for the sake of categorizing the missing value) and "Job_X" for the occupation.

In [19]:
def replace_missing(df):
    df["occupation"].replace(to_replace ="\?" , value = "Job_X", inplace = True, regex = True)
    df["workclass"].replace(to_replace="\?", value = "X", inplace = True, regex=True)
    df["native_country"].replace(to_replace = "\?", value = "United-States", inplace = True, regex = True)

Checking the columns once again to verify our code.

In [20]:
# df["workclass"].value_counts()

In [21]:
# df["occupation"].value_counts()

* Both of the missing values are replaced.

* Let us take a look at the native_country attribute.

In [22]:
# df["native_country"].value_counts()

* Since there are only 6 missing values, we can simply impute the most frequent value into these missing values. The most frequent one is the united States.

In [24]:
# df["native_country"].value_counts()

* As you can see, the missing values are merged into United-States.

## Preprocessing Attributes:

* As we are now done dealing with the missing values, we will now decide how to deal with the attributes to calculate the proximity measure.

* Continuous attributes:
    * We have 5 continuous attributes age, fnlwgt, capital_gain, capital_loss.
    * Capital_gain and capital_loss have a lot of zeroes in the data. We cannot use a distance measure to calculate the               similarities between them as 0-0 match does not mean anything. Hence, we have decided to label the records in capital_gain       and capital_loss as 0 for 0 and 1 for any other number. This will help us perform jaccard similarity on this data set as         it can be treated as a binary vector.
    * To calculate distances between age, fnlwgt and hour_per_week we will have to scale the attributes. The feature scaling is       done to make the assumption that all the features has the equal opportunity to influence the weight, which more really           reflects the knowledge you know about the data. Therefore, we will scale these attributes in between 0 to 1. We can also         normalize the data, but for the sake of simplicity we are only scaling the data to 0 to 1 for all the three attributes.         Once we are done with the scaling, we calculated distance using Euclidian distance measure with L2 norm.
* Nominal Attributes: 
    * Most of the attributes in this data set are nominal.
    * For nominal attributes we simply use the similarity measure of s = 1 if both the records are equal, s = 0 if they are not       equal
    * So the nominal attributes in the data are workclass, occupation, marital_status, gender, race, native_country,                   relationship. We will just use this measure for all these attributes.
* Ordinal Attributes:
    * There is only one ordinal attribute in this dataset and that is education_cat. education and education_cat both represent same data and we will drop education attribute as it is not useful for calculating the similarities. For ordinal data, we will map the data to 0 to 1 and then calculate the difference of these attributes. Similiarity will be 1 - d.



## Proximity Measures for attributes:
We will discuss about the different similarity or distance measures used for different attributes.

### Continuous attributes: 
The continuous attributes that are in the data set are age, fnlwgt, hour_per_week. We will standadize the data using standard deviation scaling function. We can calculate the distances using Minkowski distance for n = 3 and L2 norm.

Dissimilarity: d = minkowski with norm 2, similairty: s = 1/e^d. As the distance increases, e^d increases and the similarity decreases.

### Ordinal Attributes:

Dissimilarity d = |x-y|/(n-1) and similarity s = 1 - d.

### Nominal Attributes:
The nominal attributes in the data are workclass, education, occupation, marital_status, relationship, race, gender, native_country.

Dissimilarity d = 0 if x = y, or d = 1 if x != y, 
similarity s = 1 if x = y, or s = 0 if x != y.

### Scaling the data:    
* We will scale the attributes, hour_per_week, age and fnlwgt in between 0 to 1.

In [25]:
def normalize(df):
    df["age"] = df[["age"]].apply(lambda x : (x - np.min(x))/(np.max(x) - np.min(x)))
    df["fnlwgt"] = df[["fnlwgt"]].apply(lambda x : (x - np.min(x)) / (np.max(x) - np.min(x)))
    df["hour_per_week"] = df[["hour_per_week"]].apply(lambda x : (x - np.min(x)) / (np.max(x)-np.min(x)))

In [26]:
# To verify the data:
# df.head()

* As we can see the values in the continuous attributes are less than 1. Now we can calculate the euclidian distance on these attributes.
* We will create a different data frame just for the continuous attributes and apply the function on this dataframe.

In [27]:

# df_euc.head()

In [28]:
# df.boxplot("age",by = "relationship" )

### Euclidian Distance:

In [29]:
def mdist(a,b):                                      #mdist is the function to calculate euclidian distance with L2 norm
    total = 0;
    for i in range(0,len(df_euc.keys())):
        diff = b[i] - a[i];
        total += diff * diff;
    return np.sqrt(total)

### Jaccardian Similarity Function:
* This function counts the number of (0,1), (1,0) and (1,1) given two input vectors.
* Calculates the jaccardian similarity for attributes listed in labels. Uses the jaccardian formula to get the similarity. Produces one value for all attributes in labels.

In [30]:
def jaccardian_counts(vector_1,vector_2):
    M11 = 0
    M10 = 0
    M01 = 0
    for i in range(0,len(vector_1)):
        if(vector_1[i] == 1 and vector_2[i] == 1):
            M11 = M11 + 1
        if(vector_1[i] == 1 and vector_2[i] == 0):
            M10 = M10 + 1
        if(vector_1[i] == 0 and vector_2[i] == 1):
            M01 = M01 + 1
    return M11,M10,M01

def jaccardian_sim(labels):
    delta_k = []
    jacc_sim = []
    length = num_rows
    for j in range(0,length):
        for k in range(0,length):
            vector_1 = []
            vector_2 = []
            for i in range(0,len(labels)):
                vector_1.append(df[labels[i]][j])
                vector_2.append(df[labels[i]][k])
            M11,M10,M01 = jaccardian_counts(vector_1,vector_2)
            delta_k.append(get_delta(vector_1,vector_2))
            if(M11+M10+M01 == 0):
                jacc_sim.append(0)
                continue
            jacc_sim.append(M11/(M10+M01+M11))
            
    ar = np.array(jacc_sim)
    shape = (length,length)
    ar_reshape = ar.reshape(shape,)
    df_sim = pd.DataFrame(data = ar_reshape)
    
    ar = np.array(delta_k)
    shape = (length,length)
    ar_reshape = ar.reshape(shape,)
    df_delta_k = pd.DataFrame(data = ar_reshape)
    return(df_sim,df_delta_k)
def get_norm(x):
    square_sum = 0
    for i in x:
        square_sum = square_sum + i * i
    return math.sqrt(square_sum)

def dot(v1, v2):
    sum_prod = 0
    for i in range(0,len(v1)):
        sum_prod = sum_prod + v1[i] * v2[i]
    return sum_prod

def cos_sim(a,b):
    dot_prod = dot(a,b)
    #print(dot_prod)
    a_norm = get_norm(a)
    b_norm = get_norm(b)
    #print(a_norm)
    if(a_norm == 0 or b_norm == 0):
        return 0
    return (dot_prod/(a_norm * b_norm))


def cosine_sim(labels):
    delta_k = []
    cosine_sim1 = []
    length = num_rows
    for j in range(0,length):
        for k in range(0,length):
            vector_1 = []
            vector_2 = []
            for i in range(0,len(labels)):
                vector_1.append(df[labels[i]][j])
                vector_2.append(df[labels[i]][k])
            cosine_sim1.append(cos_sim(vector_1,vector_2))
            delta_k.append(get_delta(vector_1,vector_2))
            
    ar = np.array(cosine_sim1)
    shape = (length,length)
    ar_reshape = ar.reshape(shape,)
    df_sim = pd.DataFrame(data = ar_reshape)
    
    ar = np.array(delta_k)
    shape = (length,length)
    ar_reshape = ar.reshape(shape,)
    df_delta_k = pd.DataFrame(data = ar_reshape)
    return(df_sim,df_delta_k)

### Delta:
* Given two vectors this function returns 0 if both vectors are zero vectors. Used for sparse data. Delta refers to variable delta in the general approach formula to calculate similarities.

In [31]:
def get_delta(vector_1,vector_2):
    for i in range(0,len(vector_1)):
        if(vector_1[i] == 1 or vector_2[i] == 1):
            return 1
    return 0

### Similarity function for Nominal and Ordinal:

In [32]:
def nom_sim(dframe):
    temp = []
    for i in dframe:
        for j in dframe:
            if i == j:
                a = 1
                temp.append(a)
            else:
                a = 0
                temp.append(a)        
    ar = np.array(temp)
    shape = (len(dframe), len(dframe))
    ar_reshape = ar.reshape(shape,)
    df_sim = pd.DataFrame(data = ar_reshape)
    return(df_sim)


def ord_sim(dframe):
    temp = []
    for i in dframe:
        i = i - 1
        for j in dframe:
            j = j - 1
            d = abs(i - j) / (len(dframe.unique()) - 1)
            s = temp.append(1-d)
    ar = np.array(temp)
    shape = (len(dframe), len(dframe))
    ar_reshape = ar.reshape(shape,)
    df_sim = pd.DataFrame(data = ar_reshape)
    return(df_sim)

### Average function :

* Combines similarities for different attribute types using general approach. delta_k here is the delta values of attributes for which jaccardian similarity is applied. 
* Loop iterates through all (except jaccardian) the data frames containing similarity values for which average similarity is to be calculated.
* The same is done with jaccardian, but if the two vectors are 0 (delta value for that element in df is 0) then it is not included in the average, delta_count makes sure of this.

In [33]:
def average_sim(df_list,delta_k):
    average = []
    length = num_rows
    for i in range(0,length):
        for j in range(0,length):
            avg = 0
            delta_count = 0
            for k in range(0,len(df_list)-1):
                avg = avg + df_list[k][i][j]
                delta_count = delta_count + 1
            k = len(df_list)-1
            if(k == len(df_list)-1):
                avg = avg + df_list[k][i][j] * delta_k[i][j]
                if(delta_k[i][j] == 1):
                    delta_count = delta_count + 1
            avg = avg / delta_count
            average.append(avg)
    
    ar = np.array(average)
    shape = (length, length)
    ar_reshape = ar.reshape(shape,)
    df_avg = pd.DataFrame(data = ar_reshape)
    return(df_avg)

* Replacing the values that are other than 0 in capital_gain and capital_loss with 1.
* This will help us to apply jaccard similarity.

In [143]:
def replace_positive_with_one(dframes):
        for i in range(0,len(dframes)):
            for j in range(0,len(df[dframes[i]])):
                if(df[dframes[i]][j] > 0):
                       df[dframes[i]][j] = 1

In [ ]:
def main(i):
    df = pd.read_csv(i) #Reading the income_tr csv file into a dataframe df
    #df.head()
    global num_rows
    num_rows = len(df.index)
    df.drop("ID",axis = 1, inplace=True)
    df.describe() 
    replace_missing(df)
    normalize(df)
    df_euc = df[["age","fnlwgt","hour_per_week"]]
    con_similarity=[]                                     #similarity for continuous variables age,fnlwgt
    for i in df_euc.values:
        for j in df_euc.values:
            con_similarity.append(1/np.exp(mdist(i,j)))   # Once we have the distance d, we can calculate the similarity by 1/e^d
    ar = np.array(con_similarity)                         # This is the final array which consists of 270,400 values
    shape = (num_rows,num_rows)
    ar_new = ar.reshape(shape,)                           # Arranging the 1d array to 520 x 520 matrix
    ar_new.shape
    df_mdist = pd.DataFrame(data=ar_new)                  # Loading these values into a dataframe
    replace_dframes = ["capital_loss","capital_gain"]
    replace_positive_with_one(replace_dframes)
    df_jac_sim,df_delta_k = jaccardian_sim(replace_dframes)
    #print(df_jac_sim)
    df_edu_sim = ord_sim(df["education_cat"])
    df_occu_sim = nom_sim(df["occupation"])
    df_race_sim = nom_sim(df["race"])
    df_country_sim = nom_sim(df["native_country"])
    df_marital_sim = nom_sim(df["marital_status"])
    df_gender_sim = nom_sim(df["gender"])
    df_relationship_sim = nom_sim(df["relationship"])
    df_list = [df_mdist,df_edu_sim,df_occu_sim,df_race_sim,df_country_sim,df_marital_sim,df_gender_sim,df_relationship_sim,df_jac_sim]
    df_avg = average_sim(df_list,df_delta_k)
    df_avg = replace_diagnol(df_avg)
    df_avg.head()
    k = int(input('Enter the parameter k: '))
# #df_prox = k_similar(df_avg,k)
# df_temp = pd.DataFrame({'Transaction ID':list(range(1,num_rows+1))})
# df_prox = pd.concat([df_temp,df_prox],axis=1)
# df_prox.to_csv("output.csv")
# df_prox.head()

In [35]:
inputs = ["income_tr.csv","income_te.csv"]
for i in inputs:
    main(i)

/usr/local/lib/python3.4/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

### Replace Diagonal Elements:
Replace all the diagonal elements in the final similarity data frames with zero as we do not want to consider an objects similarity with itself

In [36]:
def replace_diagnol(df_avg):
    for i in range(0,num_rows):
        df_avg[i][i] = 0
    return df_avg

,0,1,2,3,4,5,6,7,8,9,...,278,279,280,281,282,283,284,285,286,287
0,0.000000,0.390405,0.622601,0.738012,0.404793,0.392536,0.463452,0.498786,0.358363,0.734985,...,0.701716,0.540191,0.758336,0.611718,0.533938,0.713937,0.755871,0.733556,0.395716,0.524495
1,0.390405,0.000000,0.481736,0.441382,0.326059,0.680878,0.374698,0.557773,0.424953,0.442871,...,0.442250,0.575683,0.430182,0.495650,0.558807,0.426891,0.454842,0.551200,0.322206,0.546647
2,0.622601,0.481736,0.000000,0.702053,0.336220,0.298065,0.260424,0.421276,0.287130,0.685142,...,0.704078,0.461658,0.692303,0.391640,0.444876,0.683792,0.715477,0.793218,0.455333,0.432762
3,0.738012,0.441382,0.702053,0.000000,0.486132,0.440467,0.423841,0.548510,0.413696,0.811246,...,0.812849,0.585655,0.842571,0.529952,0.585908,0.831344,0.846710,0.808358,0.481214,0.591687
4,0.404793,0.326059,0.336220,0.486132,0.000000,0.305815,0.413100,0.426793,0.541989,0.440846,...,0.447584,0.465613,0.466167,0.304139,0.329136,0.455053,0.477172,0.427352,0.483116,0.460247

### Parameter "k" :
* Get k similar objects for each object in the dataset. Get k largest elements and their indices using DataFrame.nlargest and DataFrame.nlargest.index function in each column (Similarity matrix is symmetric). Each column represents one object/record. Use these k values and indices to populate the final output dataframe.
* After executing this step, it will ask you to enter the value for k.

In [37]:
def k_similar(df_avg,k):
    df_k_similar = []
    temp_indices = []
    temp_values = []
    
    for i in range(0,num_rows):
        temp_indices = df_avg.nlargest(k,i).index
        temp_indices = [x+1 for x in temp_indices]
        temp_values = df_avg.nlargest(k,i)[i]
        t = 1       
        #df_prox = DataFrame({'Transaction ID':i+1})
        for j in temp_values:
            df_temp1 = pd.DataFrame({t:[temp_indices[t-1]]})
            df_temp2 = pd.DataFrame({'%d-prox'%t:[j]})     
            if(t == 1 ):
                df_temp3 = pd.concat([df_temp1,df_temp2],axis=1)
            else:
                df_temp3 = pd.concat([df_temp3,df_temp1,df_temp2],axis=1)
            t = t + 1
        if(i == 0):
            df_prox = df_temp3.copy()
            #print(df_prox)
        else:
            df_prox = pd.concat([df_prox,df_temp3],axis=0,ignore_index=True)
    return df_prox

Enter the parameter k: 5

## Section - C:

### A.
* To check the distribution of each proximation, we will plot histograms. This will help us to get an idea how the data are distributed. We plotted histograms all the way upto k= 10

In [39]:
# df_prox["1-prox"].hist(bins = 20)
# plt.title('k = 1')

In [40]:
# df_prox["2-prox"].hist(bins = 20)
# plt.title('k = 2')

In [41]:
# df_prox["3-prox"].hist(bins = 20)
# plt.title('k = 3')

In [42]:
# df_prox["4-prox"].hist(bins = 20)
# plt.title('k = 4')

In [43]:
# df_prox["5-prox"].hist(bins = 20)
# plt.title('k = 5')

In [44]:
# df_prox["10-prox"].hist(bins = 20)
# plt.title('k = 10')

### B. 
* We will concatenate the class attribute with df_prox dataframe to look for any differences.

In [46]:
# df_test = pd.concat((df_prox, df["class"]), axis = 1)

* Once they are concatenated, we will see the distributions of similarities over the 2 classes.

In [47]:
# K = 2
# df_test["1-prox"].hist(by = df["class"])

In [48]:
# K=2
# df_test["2-prox"].hist(by = df["class"])

In [49]:
# df_test["3-prox"].hist(by = df["class"])
# K = 3

In [50]:
# df_test["4-prox"].hist(by = df["class"])
# K = 4

In [51]:
# df_test["5-prox"].hist(by = df["class"])
# K = 5

In [52]:
# df_test["10-prox"].hist(by = df["class"])
# K =10

* As you can see in the graphs above, as we increased the value of k, class attribute with value <=50 tends to follow normal distribution.
* Where as the class attribute value > 50 is still very much away from normality. We can check the significance of the distribution using statistical methods.

### C. Closest to the largest number:
* This can be checked using value_counts() on k = 1, 3, 5 and 10

In [53]:
#K = 1
# df_test[1].value_counts()

* 15 is closest to few other examples.

In [54]:
#K = 3
# df_test[3].value_counts()

In [55]:
#K = 5
# df_test[5].value_counts()

In [56]:
#K = 10
# df_test[10].value_counts()

* Initially for k = 1, there are not many examples that are close to one particular example. But when we increased the k the number of examples that are closer is increasing.

### KNN :
* Cross validation with 8 folds will be used to test the data.
* Records are shuffled randomly.
* sub_indices are the records chosen for testing in one particular fold.

In [125]:
def get_k_nearest(df_class,df_avg,train_indices,test_indices,k):
    #print(test_indices)
    #print(train_indices)
    df_train_avg = df_avg.iloc[train_indices]
    #print(df_train_avg)
    df_predicted_class = pd.DataFrame({"Predicted Class":[],"Posterior":[]})
    for i in test_indices:
        nearest_indices = df_train_avg.nlargest(k,i).index
        #print(nearest_indices)
        (predicted_class,posterior) = get_posterior_and_class(df_class,nearest_indices)
        #print(predicted_class,posterior)
        df_temp = pd.DataFrame({"Predicted Class":[predicted_class],"Posterior":[posterior]})
        df_predicted_class = pd.concat([df_predicted_class,df_temp],axis = 0)
    df_predicted_class = df_predicted_class.set_index(test_indices)
    #print(df_predicted_class)
    return df_predicted_class

In [126]:
def get_posterior_and_class(df_class,nearest_indices):
    c1_count = 0 # <=50K
    c2_count = 0 # >50K
    for j in nearest_indices:
        if(df_class[j] == " <=50K"):
            #print("Found class: " + df_class[j])
            c1_count = c1_count + 1
            #print(c1_count)
        else:
            #print("Found class:" + df_class[j])
            c2_count = c2_count + 1
            #print(c2_count)
    #print(c1_count,c2_count,len(nearest_indices))
    posterior_c1 = c1_count/len(nearest_indices)
    posterior_c2 = c2_count/len(nearest_indices)
    if(posterior_c1 > posterior_c2):
        return (" <=50K",posterior_c1)
    elif(posterior_c1 < posterior_c2):
        return (" >50K",posterior_c2)
    else:
        return (" <=50K",posterior_c1)

In [127]:
def get_confusion_matrix(df_output):
    true_positive = 0
    true_negative = 0
    false_positive = 0
    false_negative = 0
    for i in df_output.index:
        if(df_output["Actual Class"][i] == " <=50K" and df_output["Predicted Class"][i] == " <=50K"):
            true_positive = true_positive + 1
        elif(df_output["Actual Class"][i] == " <=50K" and df_output["Predicted Class"][i] == " >50K"):
            false_negative = false_negative + 1
        elif(df_output["Actual Class"][i] == " >50K" and df_output["Predicted Class"][i] == " <=50K"):
            false_positive = false_positive + 1
        else:
            true_negative = true_negative + 1
    confusion_matrix = [[true_positive,false_negative],[false_positive,true_negative]]
    return confusion_matrix

In [128]:
def get_classification_accuracy(df_output):
    accuracy = 0
    mse = 0
    for i in df_output.index:
        if(df_output["Actual Class"][i] == df_output["Predicted Class"][i]):
            accuracy = accuracy + 1
        else:
            mse = mse + 1
    accuracy = accuracy * 100/num_rows
    mse = mse * 100/num_rows
    return (accuracy,mse)

In [129]:
def knn_main(cv,k,df_avg):
    df_avg = df_avg.sample(frac=1)
    indices = df_avg.index
    #pint(indices)
    i = 0;
    df_temp = pd.DataFrame({"Predicted Class":[],"Posterior":[]})
    while i != num_rows:
        test_indices = indices[i:i+cv]
        train_indices = list(range(0,i)) + list(range(i+cv,num_rows))
        i = i + cv
        df_predicted_class = get_k_nearest(df["class"],df_avg,train_indices,test_indices,k)
        df_temp = pd.concat([df_temp,df_predicted_class])
    df_temp = df_temp.sort_index(axis=0)
    df_class = df["class"]
    df_actual_class = pd.DataFrame({"Actual Class":df_class})
    df_temp = pd.concat([df_actual_class,df_temp],axis=1)
    return df_temp

In [134]:
cv = 8
k = list(range(1,40,2))
print(k)
for i in k:
    df_temp = knn_main(cv,i,df_avg)
    #print(df_temp)
    confusion_matrix = get_confusion_matrix(df_temp)
    (accuracy,mse) = get_classification_accuracy(df_temp)
    print(confusion_matrix)
    print(accuracy,mse)
#df_avg.head()

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]
[[185, 36], [31, 36]]
76.73611111111111 23.26388888888889
[[190, 31], [45, 22]]
73.61111111111111 26.38888888888889
[[198, 23], [46, 21]]
76.04166666666667 23.958333333333332
[[200, 21], [41, 26]]
78.47222222222223 21.52777777777778
[[200, 21], [48, 19]]
76.04166666666667 23.958333333333332
[[197, 24], [47, 20]]
75.34722222222223 24.65277777777778
[[205, 16], [53, 14]]
76.04166666666667 23.958333333333332
[[205, 16], [53, 14]]
76.04166666666667 23.958333333333332
[[201, 20], [53, 14]]
74.65277777777777 25.34722222222222
[[204, 17], [53, 14]]
75.69444444444444 24.305555555555557
[[205, 16], [56, 11]]
75.0 25.0
[[207, 14], [60, 7]]
74.30555555555556 25.694444444444443
[[213, 8], [63, 4]]
75.34722222222223 24.65277777777778
[[213, 8], [58, 9]]
77.08333333333333 22.916666666666668
[[213, 8], [58, 9]]
77.08333333333333 22.916666666666668
[[214, 7], [60, 7]]
76.73611111111111 23.26388888888889
[[214, 7], [59, 8]]
77.08333333333333 22.916666666666668
[[215, 6], [61, 6]]
76.73611111111111 23.26388888888889
[[216, 5], [61, 6]]
77.08333333333333 22.916666666666668
[[217, 4], [65, 2]]
76.04166666666667 23.958333333333332